<!-- Navigation Bar -->
<div style="text-align: center;" class="nav_bg">
<p style="text-align: center" >
  <a href="{{site.baseurl}}/index.html" style="color: white;">Abstract</a> |
  <a href="{{site.baseurl}}/pages/problem.html" style="color: white;">Problem Definition</a> | 
  <a href="{{site.baseurl}}/pages/motivation.html" style="color: white;">Motivation</a> | 
  <a href="{{site.baseurl}}/pages/related.html" style="color: white;">Related Works</a> | 
  <a href="{{site.baseurl}}/pages/methods.html" style="color: white;">Methods</a> | 
  <a href="{{site.baseurl}}/pages/results.html" style="color: white;">Results</a> | 
  <a href="{{site.baseurl}}/pages/references.html" style="color: white;">References</a>
</p>
</div>