<!-- Navigation Bar -->
<div style="text-align: center;" class="nav_bg">
<p style="text-align: center">
  <a href="{{site.baseurl}{{site.baseurl}}/index.html">Abstract</a> |
  <a href="{{site.baseurl}}/pages/problem.html">Problem Definition</a> | 
  <a href="{{site.baseurl}}/pages/motivation.html">Motivation</a> | 
  <a href="{{site.baseurl}}/pages/related.html">Related Works</a> | 
  <a href="{{site.baseurl}}/pages/methods.html">Methods</a> | 
  <a href="{{site.baseurl}}/pages/results.html">Results</a> | 
  <a href="{{site.baseurl}}/pages/references.html">References</a>
</p>
</div>