<!-- Navigation Bar -->
<div style="text-align: center;" class="nav_bg">
<p style="text-align: center" >
  <a href="./index.html" style="color: white;">Abstract</a> |
  <a href="./problem.html" style="color: white;">Problem Definition</a> | 
  <a href="./motivation.html" style="color: white;">Motivation</a> | 
  <a href="./related.html" style="color: white;">Related Works</a> | 
  <a href="./methods.html" style="color: white;">Methods</a> | 
  <a href="./results.html" style="color: white;">Results</a> | 
  <a href="./references.html" style="color: white;">References</a>
</p>
</div>