---
---

@import "{{ site.theme }}";

.nav_bg{
    background: transparent;
}

.custom_caption {
  font-style: italic;
  font-size: small;
  padding: 2px;
  text-align: center;
}

.center_img {
    align-items: center;
  }